* {
    font-family: 'Roboto', sans-serif;
    color: #3f3f3f;
    margin: 0;
    /* border: #1b1b1b solid 1px; */
}

/* nav */
nav {
    grid-area: nav;
    background-color: rgba(241, 172, 163, 0.562);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav h1 {
    font-weight: 700;
}

/* aside */
aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    background-color: rgba(114, 126, 57, 0.61);
}

.categories {
    padding: 1rem;
}

.categories h2 {
    padding-bottom: 1rem;
}

.categories p{
    padding: 0.5rem 0rem;
}

.categories p:hover {
    color: rgb(253, 68, 0);
    cursor: pointer;
}

/* main */
.jacket {
    grid-area: a;
}

.watch {
    grid-area: b;
}

.shoes {
    grid-area: c;
}

.earrings {
    grid-area: d;
}

.perfume {
    grid-area: e;
}

main {
    grid-area: main;
    background-color: rgba(114, 126, 57, 0.233);
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    'a b c'
    'd e none';
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 1rem;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 32rem;
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 5%;
}

.card img {
    width: 15rem;
    border-radius: 5%;
}

.card h2 {
    margin: 1rem 0rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;
    height: 2rem;
    width: 95%;
    background-color: rgba(114, 126, 57, 0.116) ;
}

.button:hover{
    background-color: rgba(241, 184, 163, 0.856);
    font-weight: 800;
    cursor: wait;
}

/* footer */
footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 0.5rem 0rem;
    background-color: rgba(241, 172, 163, 0.829);
}

footer p {
    font-weight: 900;
}

footer p:hover {
    color:rgb(113, 121, 73);
    cursor: pointer;
}

/* general structure */
.container {
    display: grid;
    grid-template-areas: 
    'nav nav nav'
    'aside main main'
    'footer footer footer';
    grid-template-columns: 1fr 4fr;
}