* {
    font-family: 'Roboto', sans-serif;
    color: #1b1b1b;
    margin: 0;
}

/* nav */
nav {
    grid-area: nav;
    background-color: rgb(235, 174, 152);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav h1 {
    font-weight: 700;
}

/* aside */
aside {
    grid-area: aside;
}

/* main */
main {
    grid-area: main;
}

/* footer */
footer {
    grid-area: footer;
}

/* structure */
.container {
    display: grid;
    grid-template-areas: 
    'nav nav nav'
    'aside main main'
    'footer footer footer';
}
